{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'story_6/main.css' %}">

  <title>Kegiatan</title>
</head>
<body>
  <!-- Nav -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Story 6</a>
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
    </div>
  </nav>

  {% block body %}
  {% endblock %}
</body>
</html>